body {
    font-family: 'Manrope', sans-serif;
}

hr {
    width: 60%;
    align-items: flex-start;
    margin-bottom: 30px;
}

p{
    text-align: justify;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: rgb(235, 130, 130);
    overflow: auto;
}

#formulario{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    margin: 1px;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(216, 89, 89);
}

.content-panel {
    padding: 8px;
    text-align: center;
    background-color: rgb(72, 238, 238);
    color: black;
    font-size: 28px;
}

#footer {
    padding: 8px;
    text-align: center;
    margin-top: 80px;
    background-color: rgb(128, 26, 43);
    color: rgb(246, 238, 238);
    font-size: 16px;
}

.title-content {
    text-align: left;
    padding-left: 40px;
    font-size: 30px;
    padding-bottom: 2px;
}

.video-top {
    padding: 8px 4px;
    margin: 20px;
    width: 550px;
    height: 300px;
    background-color: rgb(255, 252, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.video-top:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.videos {
    display: flex;
    justify-content: center;
}


.image-top {
    padding: 5px 20px;
    padding-bottom: 20px;
    margin: 20px;
    width: 550px;
    height: 300px;
    background-color: rgb(255, 252, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-top-sobre {
    overflow: initial;
    padding: 5px 20px;
    padding-bottom: 20px;
    margin: 20px;
    width: 800px;
    height: 440px;
    background-color: rgb(255, 252, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-top-sobre-tecnologia {
    overflow: initial;
    padding: 5px 20px;
    padding-bottom: 20px;
    margin: 20px;
    width: 800px;
    height: 180px;
    background-color: rgb(255, 252, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-top-fontes {
    overflow: initial;
    padding: 5px 20px;
    padding-bottom: 20px;
    margin: 20px;
    width: 180px;
    height: 90px;
    background-color: rgb(255, 252, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-top-fontes:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-top:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-top-sobre:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image-top-sobre-tecnologia:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-image {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
}

.audio-container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
}

.audio {
    padding: 20px 20px;
    margin: 20px;
    width: 550;
    height: 40px;
    background-color:rgb(216, 208, 208);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.audio:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.logo-sociais{
    width: 40px;
}

.logo-fontes{
    width: 100px;
    padding: 36px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
